* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #374151, #6b7280);
    color: white;
    font-family:Georgia, serif;
    min-height: 100vh;
}

header {
    padding-top: 50px;
    font-size: 1.5rem;
}

header, 
form {
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    width:300px;
    height: 40px;
    font-size: 20px;
    padding-left: 5px;
    border-radius: 5px;
}
form button {
    padding: 0rem;
    font-size: 2rem;
    border: none;
    background: white;
    border-radius: 12px;
    margin-left: 170px;
    transition: 0.3s;
}

form button {
    color: #111827;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family:Georgia, serif;
    width: 150px;
    font-size: 1.8rem;
    font-weight: bold;
    height: 37px;
    margin-left: 20px;
    border-radius: 12px;
}

form button:hover {
    background: #111827;
    color: white;
}

.counter {
    margin-left: 10%;
}

ul li {
    width: 80%;
    cursor: pointer;
    position: relative;
    margin-left: 10%;
    padding: 13px 9px 13px 41px;
    background: rgb(255, 255, 255);
    font-size: 19px;
    color:black;
    transition: 0.2s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    margin-top:5px;
    list-style-type: none;
}
  

ul li:hover {
    background: rgb(188, 188, 188);
}

ul li.check {
    background: rgb(123, 123, 123);
    color: #fff;
    text-decoration: line-through;
}

ul li.check::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 12px;
    left: 18px;
    transform: rotate(45deg);
    height: 16px;
    width: 8px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 13px 17px 13px 17px;
  }

.close:hover {
    background-color: #f13b2e;
    color: rgb(255, 255, 255);
}
